:root {
  --md-primary-fg-color:        #FF3902;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

img[src$="#shadow"] {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
}
